body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6ba4d30f-8a50-4932-874f-a6ef547097f0/d7gbq2u-c6005d9f-70e6-4c8d-a359-b7b4a896771a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZiYTRkMzBmLThhNTAtNDkzMi04NzRmLWE2ZWY1NDcwOTdmMFwvZDdnYnEydS1jNjAwNWQ5Zi03MGU2LTRjOGQtYTM1OS1iN2I0YTg5Njc3MWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UZeFtjP8Wgg4HIw9BI1hwHkSq33m6UbRC44ho4QSbdA");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
 
 }